html {
    height: 100%;
    color: white;
}

div, h3, h4{
    color: white;
}



body {
    height: 100%;
    color: white;
    margin: 0;
    background: linear-gradient(#8c8c8c, #1a1a1a);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


h1 {
    text-align: center;
}

.mainTable {
    margin-left: auto;
    margin-right: auto;
}

.mainTable, .mainTableTD {
    border-collapse: collapse;
    border: 2px solid black;
}
.mainTableTD {
    padding: 15px
}

.leftSubTable {
    margin-bottom: 100%;
}

.subTableTD {
    padding: 10px;
}

.registrationTable {
    margin-left: auto;
    margin-right: auto;
    padding: 15px
}

.centerMe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.topAlign{
    vertical-align: top;
}